---
import Container from "./Container.astro"
---

<section>
  <Container>
    <div
      class="flex overflow-hidden rounded-[--card-border-radius] bg-gray-100 p-[--card-padding] lg:aspect-video dark:bg-[--card-dark-bg]"
    >
      <div class="m-auto h-fit w-full max-w-4xl space-y-12">
        <img
          src="/product-screenshot.webp"
          alt="tailus product screenshot"
          loading="lazy"
          width="2481"
          height="1626"
        />
      </div>
    </div>
    <div
      class="mx-auto mt-12 grid w-full max-w-3xl gap-4 sm:grid-cols-2 sm:gap-12"
    >
      <div>
        <h2 class="text-2xl font-semibold text-gray-950 dark:text-white">
          A technology-first approach to payments and finance
        </h2>
      </div>
      <div class="space-y-3">
        <p class="text-gray-600 dark:text-gray-400">
          Natus ad ipsum pariatur autem, <span
            class="font-medium text-gray-950 dark:text-white"
            >fugit laborum in atque</span
          > amet obcaecati? Nisi minima aspernatur, quidem nulla cupiditate nam consequatur
          eligendi magni adipisci.
        </p>
        <p class="text-gray-600 dark:text-gray-400">
          Nisi minima aspernatur, quidem nulla cupiditate nam consequatur
          eligendi magni adipisci.
        </p>
      </div>
    </div>
  </Container>
</section>
